<div class="dash" ng-controller='sessionController'>
    <form class="logout" action="/logout">
        <input type="submit" value="Log Out">
    </form>
    <div class="header">
        <h1>Hi {{curUser.name[0].toUpperCase() + curUser.name.slice(1)}}!</h1>
        <form class="newQ" action="#/new_question">
            <input type="submit" value="Add new topic">
        </form>
        <input class='filter' type="text" ng-model='filter_name.text' placeholder="Search topics">
    </div>

    <div ng-controller='questionController'>
        <div class="tablearea">
            <table class="table-hover table-sm table-responsive table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Topic</th>
                        <th># of Opinions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='question in questions | filter: filter_name'>
                        <td>{{question.text}}</td>
                        <td>{{question._answers.length}}</td>
                        <td><a href="#/question/{{question._id}}">Show Opinions</a><br><a href="#/question/new_answer/{{question._id}}">Add Opinion</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
