<div ng-controller='questionController'>
    <form class="logout" action="/logout">
        <input type="submit" value="Log Out">
    </form>
    <form class="home" action="#/dash">
        <input type="submit" value="Go to Home">
    </form>
    <div class="header">
        <h1>New Topic</h1>
    </div>
    <div class="question">
        <label>Topic:</label>
        <textarea class="addInput" type="text" ng-model='newQ.text'></textarea>
        <label>Description (optional):</label>
        <textarea class="addInput" type="text" ng-model='newQ.description'></textarea>
        <button ng-click='addQuestion()'>Submit</button>
        <p ng-repeat='error in Qerrors' style='color: red'>{{error}}</p>
    </div>
</div>
