<div ng-controller='questionController'>
    <a href="/logout">logout</a>
    <a href="#/dash">Home</a>
    <a href="#/question/{{cur_question._id}}">Go Back to Question</a>
    <h1>{{cur_question.text}}</h1>
    <h4>{{cur_question.description}}</h4>
    <div ng-controller='answerController'>
        <p ng-repeat='error in Aerrors' style='color: red'>{{error}}</p>
        Your Answer: <textarea ng-model='newA.text' rows="8" cols="80"></textarea><br>
        Supporting details for your answer (optional)<textarea ng-model='newA.description' rows="8" cols="80"></textarea>
        <button ng-click='addAnswer(cur_question._id)'>Submit</button>
    </div>
</div>
